<article class="node node-blog node-promoted node-teaser view-mode-teaser">
  <h2 class="page-header">
    <a href="/blog/making-sense-drupal-views-relationships-and-entity-references">Making Sense of Drupal Views Relationships and Entity References</a>
  </h2>
  <div class="author-and-date"><a href="/about/john-erhardt" class="username">John Erhardt</a> <span class="post-date">August 14, 2014</span></div>
  <div class="image">
      </div>
  <div class="content">
    <p>Drupal has some powerful tools for creating and managing complex content relationships. Views relationships using Entity References across more than one content type can be used to establish multi-tiered content relationships.</p>
  </div>
  <div class="tags">
    <div class="tags--label">Filed under:</div>&nbsp;<a href="/blog/category/content">Content</a><a href="/blog/category/drupal-0">Drupal</a><a href="/taxonomy/term/10/1">Drupal Planet</a>  </div>
  <div class="continue-reading">
    <a href="/blog/making-sense-drupal-views-relationships-and-entity-references">Continue Reading</a>
  </div>
</article>
