<article class="node node-blog node-promoted view-mode-teaser_compact">
  <span class="image--author style--author_small"><img src="http://atendesigngroup.com/sites/default/files/styles/author_small/public/scott-reynen.png?itok=kIOu7TxH" width="80" height="100" alt=""></span>
  {{> molecules-article-title }}
  <div class="author-and-date">
    <a href="/about/scott-reynen" class="username">Scott Reynen</a> <span class="post-date">August 08, 2014</span></div>
  <div class="content">
    <p>Last weekend I gave a talk on "Footless Drupal" about how Drupal 8 is using declarative programming for configuration, how the Config in Code (CINC) module is aiming to backport that to Drupal 7, and how it's already possible to use custom configuration workflows outside the default Drupal interfaces.</p>
  </div>
  <div class="tags">
    <div class="tags--label">Filed under:</div>&nbsp;<a href="/blog/category/development">Code</a><a href="/blog/category/drupal-0">Drupal</a><a href="/taxonomy/term/10/1">Drupal Planet</a>  </div>
</article>
