<article class="node node-blog node-promoted view-mode-teaser_mini">
  <div class="author-image"><span class="image--author style--author_small_square"><img src="http://atendesigngroup.com/sites/default/files/styles/author_small_square/public/john-erhardt.png?itok=zlavBJTo" width="60" height="60" alt=""></span></div>
  <h2 class="article-title"><a href="/blog/making-sense-drupal-views-relationships-and-entity-references">Making Sense of Drupal Views Relationships and Entity References</a></h2>
  <div class="author-and-date"><a href="/about/john-erhardt" class="username">John Erhardt</a> <span class="post-date">August 14, 2014</span></div>
  <div class="content">
    <p>Drupal has some powerful tools for creating and managing complex content relationships. Views relationships using Entity References across more than one content type can be used to establish multi-tiered content relationships.</p>
  </div>
</article>
